<div id="top_nav" class="w-screen flex"> 
  <button data-action="click->top-nav#showScore" class="py-3 text-2xl text-orange-50 bg-[#076652] p-2 shadow-inner border-b-4 border-[#9F9563] w-1/2">Score</button>
  <button data-action="click->top-nav#showLeaderboard" class="py-3 text-2xl text-orange-50 bg-[#076652] shadow-inner p-2 border-b-4 border-[#9F9563] w-1/2">Leaderboard</button>
</div>