<div id="top_nav" class="w-screen flex"> 
  <button data-action="click->top-nav#showScore" data-top-nav-target="scoreNav" class="py-3 text-2xl text-orange-50 bg-[#076652] p-2 shadow-inner shadow-gray-700 border-b-4 border-[#9F9563] w-1/2">Score</button>
  <button data-action="click->top-nav#showLeaderboard" data-top-nav-target="leadercardNav" class="py-3 text-2xl text-orange-50 bg-[#076652] p-2 shadow-gray-700 border-b-4 border-[#9F9563] w-1/2">Leaderboard</button>
</div>